  .body {
      font-size: 14px;
      margin: 0;
  }
  
  .container {
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;
  }
  
  .header-cont {
      display: flex;
      justify-content: space-between;
      padding: 0 px;
      align-items: center;
  }
  
  .nav {
      display: flex;
      font-size: 18px;
      font-weight: 700;
  }
  
  .nav-link {
      margin-left: 10px;
      color: rgb(2, 2, 2);
      text-decoration: none;
      opacity: 0.75;
      transition: opacity 0.1s linear;
  }
  
  .nav-link1 {
      margin-left: 500px;
      color: rgb(2, 2, 2);
      text-decoration: none;
      opacity: 0.75;
      transition: opacity 0.1s linear;
  }
  
  .nav-link:hover {
      opacity: 1;
  }
  
  .intro {
      display: block;
      width: 100%;
      height: 100%;
      padding: none;
  }